:root {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
.section-1 {
  background: #ebfbff;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 1rem;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

h1 {
  font-size: 2.1rem;
}

.btn {
  border-radius: 3rem;
  cursor: pointer;
}

.btn-try-it {
  background: white;
  font-size: 0.8rem;
  padding: 1em 5em;
  font-weight: 700;
  -webkit-box-shadow: 0 0 1em 0.025em rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 1em 0.025em rgba(204, 204, 204, 0.5);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.btn-try-it:hover {
  color: #808d99;
}

.btn-get-started {
  background: #ff52bf;
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1.2em 4.2em;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.btn-get-started:hover {
  background: #ff99da;
}

.col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col img {
  max-width: 100%;
}

header {
  color: #00252e;
  padding: 3rem 0;
}

header img {
  width: 180px;
}

header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  body {
    text-align: center;
  }
  header {
    padding: 1rem 0;
  }
  header img {
    width: 90px;
  }
  .btn-try-it {
    font-size: 0.6rem;
    padding: 0.4em 2em;
    font-weight: 700;
  }
  h1 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .btn-get-started {
    font-size: 0.7rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1em 5em;
  }
}

section.section-1 {
  padding-bottom: 3.5em;
}

section.section-1 .col:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 4.2rem;
  gap: 1.8rem;
}

section.section-1 h1 {
  width: 25rem;
}

section.section-1 p {
  color: #00252e;
  line-height: 1.4;
}

@media only screen and (max-width: 900px) {
  section.section-1 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  section.section-1 p,
  section.section-1 h1 {
    width: 90%;
  }
  section.section-1 img {
    width: 90%;
  }
  section.section-1 .col:first-of-type {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    gap: 1.8rem;
  }
}

section.section-2 {
  padding-top: 8em;
}

section.section-2 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1em;
  gap: 2rem;
}

section.section-2 .card {
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0 1em 0.1em rgba(204, 204, 204, 0.4);
          box-shadow: 0 0 1em 0.1em rgba(204, 204, 204, 0.4);
  padding: 3em 0;
}

section.section-2 .card .row {
  margin-left: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section-2 .card img {
  width: 75%;
}

section.section-2 .card p {
  color: #808d99;
  width: 27rem;
}

section.section-2 .card h2 {
  margin-bottom: 1rem;
}

section.section-2 .card .row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.section-2 .card .row.reverse .col:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  section.section-2 img {
    width: 100%;
  }
  section.section-2 .cards {
    padding: 0;
  }
  section.section-2 .card {
    padding: 2em 0;
  }
  section.section-2 .card .row.reverse,
  section.section-2 .card .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.section-2 .card .row {
    margin-left: 0;
  }
  section.section-2 .card img {
    width: 65%;
  }
  section.section-2 .card p {
    width: 75%;
    margin: auto;
    font-size: 0.75rem;
  }
  section.section-2 .card h2 {
    font-size: 1.1rem;
    margin-top: 4rem;
  }
}

section.section-3 {
  padding-top: 12em;
}

section.section-3 .get-started-panel {
  background: white;
  margin: auto;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1em 0.1em rgba(26, 26, 26, 0.2);
          box-shadow: 0 0 1em 0.1em rgba(26, 26, 26, 0.2);
  border-radius: 0.6rem;
  gap: 2rem;
  padding: 3em 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

section.section-3 h2 {
  font-size: 1.8rem;
}

section.section-3 .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.section-3 .btn-get-started {
  font-size: 1.2rem;
  padding: 1.2em 4.5em;
}

@media only screen and (max-width: 900px) {
  section.section-3 h2 {
    font-size: 1rem;
  }
  section.section-3 .btn-get-started {
    font-size: 0.6rem;
  }
  section.section-3 .get-started-panel {
    gap: 1.3rem;
    padding: 2.5em 0;
  }
}

section.section-4 {
  background: #00252e;
  padding-top: 12em;
  padding-bottom: 5em;
  color: white;
  font-size: 0.9rem;
}

section.section-4 .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

section.section-4 p {
  width: 19rem;
}

section.section-4 .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

section.section-4 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.section-4 .icon {
  margin-right: 1rem;
  width: 15px;
}

section.section-4 li + li {
  margin-top: 1rem;
}

section.section-4 li {
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

section.section-4 li:hover {
  text-decoration: underline;
}

section.section-4 .col-1 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  list-style: none;
}

section.section-4 .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2rem;
  font-size: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

section.section-4 .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

section.section-4 .social-item {
  border-radius: 50%;
  border: 1px solid white;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

section.section-4 .social-item:hover {
  border-color: #ff52bf;
  color: #ff52bf;
}

section.section-4 .social-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
  section.section-4 .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.section-4 img {
    width: 170px;
  }
  section.section-4 .col-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  section.section-4 .col-1 + .col-1 {
    margin-top: 1.5rem;
  }
  section.section-4 .infos {
    margin-bottom: 2rem;
  }
  section.section-4 .social {
    margin: auto;
    margin-top: 2.5rem;
  }
  section.section-4 .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  section.section-1 {
    padding-top: 4em;
    padding-bottom: 1.5em;
  }
  section.section-2 {
    padding-top: 3em;
    text-align: center;
  }
  section.section-3 {
    padding-top: 4em;
  }
  section.section-4 {
    text-align: left;
    padding-top: 8em;
  }
}
/*# sourceMappingURL=main.css.map */